@charset "utf-8";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}


#wrapper{
	margin: auto;
	width: 1200px;
	height: 1750px;
	/* background-color: aquamarine; */
	
}

:root{
	--burntred:#E94D40;
	--navyblue:#0C243C;
}

h2, h3{
	padding-bottom: 15px;
	color: var(--burntred);
}


section{
	margin-left: 140px;
}






nav{
	width: 1200px;
	height: 50px;
	padding-top: 20px;
	text-align: right;	
	text-decoration: underline;	
	float: right;
}

nav>a{
	margin-left: 35px;
	text-decoration: none;
	color: var(--navyblue);
}

header{
	width:950px;
	height:450px;
	margin-bottom: 25px;
}


table{
	width: 900px;
	border: 2px solid var(--navyblue);
	border-collapse: collapse;
	color: black;
	text-align: left;
	margin-left: 140px;
	margin-bottom: 25px;
}



td,th {
	width:300px;
	height: 45px;
	border: 2px solid var(--navyblue);
	border-collapse: collapse;
	color: black;
	text-align: left;
}

th{
	color: #fff;
}
tr:nth-child(1){
	background-color: var(--navyblue);

}

tr:nth-child(3){
	background-color:#c3d7f1
}

/* tr:nth-child(1){
	width: 900px;
	border: 2px solid var(white);
	border-collapse: collapse;
	color: black;
	text-align: left;
	margin-left: 140px;
	margin-bottom: 25px;
} */

.specs{
	background-color: #fff;
}

footer{
	width: 1200px;
	height: 50px;
	background-color: var(--navyblue);
	color: #fff;
	text-align: center;
	padding-top: 15px;
	margin-top: 25px;
	
}


fieldset{
	width: 600px;
	height:300px;
	margin-left: 140px;
	border: 2px solid #f3e66d;
}

label{
	width:120px;
	height: 45px;
	text-align: left;
	display: inline-block;
}

input{
	width:220px;
	height: 35px;
}

.button{
	width:120px;
	height: 35px;
}

.order{
	margin-left: 140px; 
	margin-bottom: 10px;
}
